.container {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 50px !important;
    margin-left: 150px !important;
}

@media (max-width: 770px) {
	.container {
        width: 100% !important;
        margin-bottom: 50px !important;
        margin-left: 0 !important;
	}
}